:root {
  --bg-color: #1e1e1e;
  --main-color: #ffffff; /* text color */
  --main-bg-color: #050505; /* element bg color */
  --secondary-color: #7a7a7a; /* secondary text color */

  --child-spacing: 8px;
  --parent-spacing: 16px;
  --block-spacing: 24px;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.secondary {
  color: var(--secondary-color);
}

#lateral-menu {
  background-color: var(--main-bg-color);
}

/* MAIN CONTENT STYLES */
.content {
  padding: var(--block-spacing);
}

/* STYLES ON THE HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header a img {
  height: 2rem;
  width: 6.7rem;
}
