:root {
  --bg-color: #1e1e1e;
  --main-color: #ffffff; /* text color */
  --main-bg-color: #050505; /* element bg color */
  --secondary-color: #7a7a7a; /* secondary text color */
}

* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.secondary {
  color: var(--secondary-color);
}

#lateral-menu {
  background-color: var(--main-bg-color);
}
